.column {
    width: 300px;
    float:left
}

h2 {
    text-align:center;
}

p {
    text-align:center;
}

header {
    margin-bottom: 4rem;
    padding: 2rem 0;
    background-color: rgb(241, 179, 0);
    border-bottom: 4px solid rgb(0, 51, 102);
    color: rgb(0, 51, 102);
}

.content-width {
    max-width: 70ch;
    width: calc(100% - 4rem);
    margin: 0 auto;
}